{% extends 'main/base.html' %}

{% load static %}

{% block title %}About{% endblock %}

{% block content %}

<!-- Here i write the code -->

<div class="cover">
    <div class="main_h">
        <h1 class="title1">About us</h1>
        <p class="para">The Household Consumption Expenditure Survey (HCES) is designed to collect
            information on consumption of goods and services by the households.</p>
        <p class="para">The
            information collected in HCES helps to understand the consumption and
            expenditure pattern, standard of living and well-being of the households.</p>
        <p class="para">The National Sample Survey Office has been conducting this survey since its
            inception in 1950.</p>
        <p class="para">The survey of 2022-23 is the latest one on the subject.
            The current survey (HCES: 2022-23) has been conducted during the period
            August, 2022 to July, 2023 in whole of the Indian Union except a few
            inaccessible villages in the Andaman and Nicobar Islands.</p>
    </div>
</div>
{% endblock %} 